---
---

<section>
	<div class="max-w-6xl mx-auto px-4 sm:px-6">
		<div class="py-12 md:py-20">
			<div class="text-center pb-10 md:pb-16">
				<h1
					class="xl:text-5xl lg:text-4xl md:text-3xl text-3xl font-bold leading-tighter tracking-tighter mb-4 font-heading"
				>
					About
					<span class="bg-clip-text text-transparent bg-gradient-to-r from-primary-500 to-secondary-500"
						>CodingTheSmartWay</span
					>
				</h1>
				<div class="mt-10 max-w-3xl mx-auto">
					<p class="text-md text-gray-600 mb-8 dark:text-slate-400">
						Hi, my name is Sebastian and I founded CodingTheSmartWay.com in 2016 to deliver up to date content on latest
						web and mobile technologies with a special focus on JavaScript-based frameworks (Angular, React, Vue.js and
						Ionic), web development fundamentals (HTML and CSS) and Python. With CodingTheSmartWay.com we try to lower
						the entry barrier for starting with new technologies fast. By providing easy to follow step-by-step
						tutorials we want to get you started with new technologies fast and without hurdles.
					</p>
					<p class="text-md text-gray-600 mb-8 dark:text-slate-400">
						If you’re curious about anything or just want to reach out, feel free to drop a mail to
						sebastian@codingthesmartway.com
					</p>
					<p class="text-md text-gray-600 mb-8 dark:text-slate-400">
						While we do our best to be thorough, it’s possible that we’ll occasionally miss something or some words are
						mixed up. If you come across an error please send an email to sebastian@codingthesmartway.com.
					</p>
					<p class="text-md text-gray-600 mb-2 dark:text-slate-400">Sebastian from CodingTheSmartWay</p>
				</div>
			</div>
		</div>
	</div>
</section>
