---
---

<div class="max-w-6xl mx-auto px-4 sm:px-6 overflow-hidden">
	<div class="py-6 md:py-10">
		<div class="py-4 sm:py-6 lg:py-8">
			<div class="flex flex-wrap md:-mx-8">
				<div class="w-full px-0 sm:px-8">
					<div class="mb-0 pb-0">
						<h2 class="mb-4 text-3xl lg:text-4xl font-bold font-heading">Affiliate Disclaimer</h2>
					</div>
					<div class="mb-4">
						<p class="text-gray-500 dark:text-gray-400">
							In accordance with Federal Trade Commission (FTC) law, we’re required to disclose that
							CodingTheSmartWay.com features affiliate links throughout the site, including (but not limited to) blog
							posts.
						</p>
					</div>
					<div class="mb-4">
						<h3 class="mb-4 text-xl font-semibold font-heading">What is an affiliate link?</h3>
						<p class="text-gray-500 dark:text-gray-400">
							Affiliate links are like regular URLs that take you to the products / courses / ebooks we recommend, but
							by clicking them, we earn a small commission based on your purchases. You don’t pay this commission, the
							company you shopped with does.
						</p>
					</div>
					<div class="mb-4">
						<h3 class="mb-4 text-xl font-semibold font-heading">Are they safe?</h3>
						<p class="text-gray-500 dark:text-gray-400">
							Yes! Many of the websites you visit utilize affiliate links in their content, and should be providing you
							with an informative message like this, as well. In terms of privacy, your purchase information is tracked
							by the affiliate marketing companies we work with. While we do have access to information about the types
							of products that folks who click these links buy, we do not have any identifying information about the
							customer themselves.
						</p>
					</div>
					<div class="mb-4">
						<p class="text-gray-500 dark:text-gray-400">
							Affiliate links on this website are marked with an asterisk (*).
						</p>
					</div>
					<div class="mb-4">
						<h3 class="mb-4 text-xl font-semibold font-heading">Which companies do we work with?</h3>
						<p class="text-gray-500 dark:text-gray-400">
							Our ultimate goal is to recommend the best products available for self-taught web developers, and you can
							rest assured that we stand behind each and every product on my site. That being said, the affiliate links
							on CodingTheSmartWay.com include the following companies: Udemy [https://www.udemy.com/], Plasmic
							[https://www.plasmic.app/]
						</p>
					</div>
					<div class="mb-4">
						<h3 class="mb-4 text-xl font-semibold font-heading">Questions?</h3>
						<p class="text-gray-500 dark:text-gray-400">
							If you have any questions regarding the above, please do not hesitate to contact us (info (at)
							codingthesmartway.com).
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
