---
import { Icon } from 'astro-icon';
---

<div class="px-4 py-16 mx-auto max-w-6xl lg:py-20">
	<div class="max-w-xl sm:mx-auto lg:max-w-2xl">
		<div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
			<h2 class="max-w-lg mb-4 text-3xl font-bold leading-none tracking-tight sm:text-4xl md:mx-auto font-heading">
				Impressum
			</h2>
		</div>
	</div>
	<div class="max-w-screen-xl sm:mx-auto">
		<div class="grid grid-cols-1 gap-x-8 gap-y-8 lg:gap-x-16 md:grid-cols-2">
			<div class="space-y-8">
				<div>
					<p class="mb-4 text-xl font-bold">
						<Icon name="tabler:arrow-down-right" class="w-7 h-7 text-primary-500 inline-block icon-bold" />
						Angaben gemäß § 5 TMG:
					</p>

					<p class="text-gray-700 dark:text-gray-400 mb-2">
						Sebastian Eschweiler<br />
						Am Windpark 37<br />
						41515 Grevenbroich<br />
						Germany<br />
					</p>

					<p class="text-gray-700 dark:text-gray-400 mb-2">
						Tel.: +49 178 1448604<br />
						E-Mail: info (at) codingthesmartway.com<br />
					</p>
				</div>
			</div>
			<div class="space-y-8">
				<div>
					<p class="mb-4 text-xl font-bold">
						<Icon name="tabler:arrow-down-right" class="w-7 h-7 text-primary-500 inline-block icon-bold" />
						Umsatzsteuer ID
					</p>

					<p class="text-gray-700 dark:text-gray-400 mb-2">
						Umsatzsteuer-Identifikationsnummer gemäß § 27 a Umsatzsteuergesetz: DE300193791
					</p>
				</div>
			</div>
			<div class="space-y-8">
				<div>
					<p class="mb-4 text-xl font-bold">
						<Icon name="tabler:arrow-down-right" class="w-7 h-7 text-primary-500 inline-block icon-bold" />
						Redaktionell verantwortlich
					</p>

					<p class="text-gray-700 dark:text-gray-400 mb-2">
						Sebastian Eschweiler<br />
						Am Windpark 37<br />
						41515 Grevenbroich<br />
						Germany<br />
					</p>
				</div>
			</div>
			<div class="space-y-8">
				<div>
					<p class="mb-4 text-xl font-bold">
						<Icon name="tabler:arrow-down-right" class="w-7 h-7 text-primary-500 inline-block icon-bold" />
						EU-Streitschlichtung
					</p>

					<p class="text-gray-700 dark:text-gray-400 mb-2">
						Die Europ&auml;ische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit: <a
							href="https://ec.europa.eu/consumers/odr/"
							target="_blank"
							rel="noopener noreferrer">https://ec.europa.eu/consumers/odr/</a
						>.<br /> Unsere E-Mail-Adresse finden Sie oben im Impressum.
					</p>
				</div>
			</div>
			<div class="space-y-8">
				<div>
					<p class="mb-4 text-xl font-bold">
						<Icon name="tabler:arrow-down-right" class="w-7 h-7 text-primary-500 inline-block icon-bold" />
						Verbraucherstreitbeilegung / Universalschlichtungsstelle
					</p>

					<p class="text-gray-700 dark:text-gray-400 mb-2">
						Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer
						Verbraucherschlichtungsstelle teilzunehmen.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
