---
import { Image } from '@astrojs/image/components';
import { SWITCHES } from '~/config.mjs';
---

{
	SWITCHES.leanpubAds && (
		<section class="pt-10 scroll-mt-16" id="leanpubad">
			<div class="px-4 py-2 mx-auto max-w-4xl lg:px-8 lg:py-3 bg-gray-50 dark:bg-slate-800">
				<div class="max-w-xl mx-auto lg:max-w-2xl sm:text-left text-center">
					<div class="grid grid-cols-1 sm:grid-cols-2 gap-4 place-items-center">
						<div>
							<a href="https://leanpub.com/mastering-openai-api-programming" target="_blank" rel="noopener">
								<Image
									alt="Book Cover"
									height="315"
									loading="eager"
									fit="contain"
									aspectRatio="2550:3300"
									src={import('~/assets/images/book.png')}
								/>
							</a>
						</div>
						<div>
							<p class="text-base text-primary-600 dark:text-primary-200 font-semibold tracking-wide">
								NEW Book by CodingTheSmartWay
							</p>
							<h4 class="text-xl md:text-2xl font-bold leading-tighter tracking-tighter mb-1 font-heading">
								Mastering OpenAI API Programming
							</h4>
							<p class="max-w-3xl mx-auto text-sm text-gray-600 dark:text-slate-400">
								Unlock the full potential of OpenAI's cutting-edge technologies with Mastering OpenAI API Programming.
								Dive deep into GPT, Whisper, and DALL-E models, and learn to build powerful AI applications. From
								chatbots and content generation to speech recognition and image synthesis, harness the power of AI to
								revolutionize your projects.
							</p>
							<div class="py-4 not-prose">
								<div class="flex items-center">
									<a
										class="btn text-white text-sm bg-purple-600 hover:bg-purple-800 dark:bg-purple-700 dark:hover:bg-purple-500"
										href="https://leanpub.com/mastering-openai-api-programming"
										target="_blank"
										rel="noopener"
									>
										Get the Book now!
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	)
}
